<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <identity impersonate="true" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
  </system.web>
  
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=.; Initial Catalog=OurTmall; uid=SA; pwd=123; pooling=false;" />
    <add name="DictPath" connectionString="C://Users/LiuTongtong/Desktop/OurTmallWebSite/CacheFolder/"/>
    <!--
    using System.Configuration;
    ConfigurationManager.ConnectionStrings["connStr"].ToString()
    -->
  </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
