.steps ol .active {
    border-bottom-color: #c40000!important
}

.steps ol .active i {
    background-image: url(http://gtms03.alicdn.com/tps/i3/TB1wfVmFVXXXXXUXpXXCBGNFFXX-24-24.png)!important
}

.btn {
    background: #c40000
}

.btn:hover {
    background: #c50000
}

.btn-disabled,.btn-white {
    background: #ededed!important
}

.btn-disabled:hover,.btn-white:hover {
    background: #dedede!important
}

.ks-dialog {
    border-top-color: #c40000
}

#J_GoToEmailWeb {
    color: #FFF!important
}

a,.err-input,.msg-type-error,.msg-type-error i,.msg-type-warn i,.pw-strength-bar-1 em,.pw-strength-bar-2 .pw-strength-1,.pw-strength-bar-2 .pw-strength-2,.pw-strength-bar-3 .pw-strength-3,.pw-rule-item .pw-icon-error {
    color: #c40000!important
}
